<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/tablesorter_blue.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <title>{{ rinfo.name }}</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function()
            {
                $("#subjects_table").tablesorter();
            }
    );
</script>

<h3>Condition: {{ rinfo.name }}</h3>

<h4>% Correct: {{ rinfo.perc_correct|round(2) }}</h4>
<h4>Mean RT in 0% coherence trials: {{ rinfo.difficult_mean_rt|round(2) }}ms</h4>

<table>
    <tr>
        <td><img src="{{ rinfo.rt_url }}"/></td>
        <td><img src="{{ rinfo.rt_dist_url }}"/></td>
    </tr>
    <tr>
        <td><img src="{{ rinfo.perc_correct_url }}"/></td>
        <td></td>
    </tr>
</table>

<h4>Subjects</h4>
<table border="1" class="tablesorter" id="sessions_table">
    <thead>
    <tr>
        <th>Subject</th>
        {% for session in rinfo.subjects.values()[0].sessions %}
            <th>{{ session }} RT: a</th>
            <th>{{ session }} RT: k</th>
            <th>{{ session }} RT: tr</th>
        {% endfor %}
        {% for session in rinfo.subjects.values()[0].sessions %}
            <th>{{ session }} Acc: alpha</th>
            <th>{{ session }} Acc: beta</th>
        {% endfor %}
        {% for session in rinfo.subjects.values()[0].sessions %}
            <th>{{ session }} % correct</th>
            <th>{{ session }} Mean RT</th>
        {% endfor %}
        <th>% correct</th>
        <th>Mean RT</th>
    </tr>
    </thead>
    <tbody>
    {% for subj_id,subject in rinfo.subjects.iteritems() %}
    <tr>
        <td><a href="{{ subj_id }}/{{ subject.output_file }}">{{ subj_id }}</a></td>
        {% for session in subject.sessions %}
            <td>{{ subject.sessions[session].a|round(3) }}</td>
            <td>{{ subject.sessions[session].k|round(3) }}</td>
            <td>{{ subject.sessions[session].tr|round(3) }}</td>
        {% endfor %}
        {% for session in subject.sessions %}
            <td>{{ subject.sessions[session].alpha|round(3) }}</td>
            <td>{{ subject.sessions[session].beta|round(3) }}</td>
        {% endfor %}
        {% for session in subject.sessions %}
            <td>{{ subject.sessions[session].perc_correct|round(2) }}</td>
            <td>{{ subject.sessions[session].difficult_mean_rt|round(2) }}</td>
        {% endfor %}
        <td>{{ subject.perc_correct|round(2) }}</td>
        <td>{{ subject.difficult_mean_rt|round(2) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>