<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/tablesorter_blue.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <title>{{ rinfo.subj_id }} - {{ rinfo.idx }}</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function()
            {
                $("#runs_table").tablesorter();
                $("#conditions_table").tablesorter();
            }
    );
</script>

<h3>Subject: {{ rinfo.subj_id }}</h3>
<h3>Session: {{ rinfo.idx }}</h3>

<h4>% Correct: {{ rinfo.all_perc_correct|round(2) }}</h4>
<h4>Mean RT in 0% coherence trials: {{ rinfo.all_difficult_mean_rt|round(2) }}ms</h4>

<h4>Runs</h4>

<table>
    <tr>
        <td><img src="{{ rinfo.urls['rt_post'] }}"/></td>
        <td><img src="{{ rinfo.urls['rt_dist_post'] }}"/></td>
    </tr>
    <tr>
        <td><img src="{{ rinfo.urls['rt_speed_post'] }}"/> </td>
        <td></td>
    </tr>
    <tr>
        <td><img src="{{ rinfo.urls['perc_correct_post'] }}"/></td>
        <td></td>
    </tr>
</table>
<table border="1" class="tablesorter" id="runs_table">
    <thead>
    <tr>
        <th>Run</th>
        <th>Condition</th>
        <th>Threshold</th>
        <th>% Correct</th>
        <th>Mean RT in 0% coherence trials</th>
        <th>RT - a</th>
        <th>RT - k</th>
        <th>RT - tr</th>
        <th>Acc - alpha</th>
        <th>Acc - beta</th>
        <th>Excluded</th>
    </tr>
    </thead>
    <tbody>
    {% for run in rinfo.runs %}
    <tr>
        <td><a href="{{ loop.index }}/run_{{ loop.index }}.html">{{ loop.index }}</a></td>
        <td>{{ run.condition }}</td>
        <td>{{ run.thresh|round(3) }}</td>
        <td>{{ run.perc_correct|round(2) }}</td>
        <td>{{ run.difficult_mean_rt|round(2) }}</td>
        <td>{{ run.a|round(2) }}</td>
        <td>{{ run.k|round(2) }}</td>
        <td>{{ run.tr|round(2) }}</td>
        <td>{{ run.alpha|round(2) }}</td>
        <td>{{ run.beta|round(2) }}</td>
        <td>{{ run.excluded }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Conditions</h4>
<table>
    <tr>
        <td><img src="{{ rinfo.urls['mean_rt_post'] }}"/></td>
        <td><img src="{{ rinfo.urls['mean_rt_dist_post'] }}"/> </td>
    </tr>
    <tr>
        <td><img src="{{ rinfo.urls['mean_perc_correct_post'] }}"/></td>
        <td></td>
    </tr>
    {% for coherence in rinfo.coherence_mean_rt_urls %}
    <tr>
        <td><img src="{{ rinfo.urls['coherence_mean_rt_post'][coherence] }}"/></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<table border="1" class="tablesorter" id="conditions_table">
    <thead>
    <tr>
        <th>Condition</th>
        <th>Threshold</th>
        <th>% Correct</th>
        <th>Mean RT in 0% coherence trials</th>
        <th>RT - a</th>
        <th>RT - k</th>
        <th>RT - tr</th>
        <th>Acc - alpha</th>
        <th>Acc - beta</th>
    </tr>
    </thead>
    <tbody>
    {% for condition in rinfo.conditions %}
    {% if not condition=='control' and not condition=='sham - post - anode' and not condition=='sham - post - cathode' %}
    <tr>
    <td>{{ condition }}</td>
    <td>{{ rinfo.thresh[condition]|round(3) }}</td>
    <td>{{ rinfo.perc_correct[condition]|round(2) }}</td>
    <td>{{ rinfo.difficult_mean_rt[condition]|round(2) }}</td>
    <td>{{ rinfo.a[condition]|round(2) }}</td>
    <td>{{ rinfo.k[condition]|round(2) }}</td>
    <td>{{ rinfo.tr[condition]|round(2) }}</td>
    <td>{{ rinfo.alpha[condition]|round(2) }}</td>
    <td>{{ rinfo.beta[condition]|round(2) }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

</body>
</html>